<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-5.jpg">

<!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->

  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
              <i>Countries</i>
            </a>
        </div>
        <ul class="nav">
            <br>
            <br>

            <li>
                <a href="/patient/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p class="nav-btn">Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/patient/profile">
                    <i class="pe-7s-user"></i>
                    <p class="nav-btn">Profile</p>
                </a>
            </li>
            <li>
                <a href="/patient/emergency">
                    <i class="pe-7s-copy-file"></i>
                    <p class="nav-btn">Emergency</p>
                </a>
            </li>
            <li>
                <a href="/patient/insurance">
                    <i class="pe-7s-copy-file"></i>
                    <p class="nav-btn">Insurance</p>
                </a>
            </li>
              <li>
                  <a href="/patient/diet">
                      <i class="pe-7s-copy-file"></i>
                      <p class="nav-btn">Diet</p>
                  </a>
              </li>

        </ul>
  </div>
</div>
